#soft-alerts-modal {
  display: none;
  position: fixed;
  z-index: 2147483647;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#soft-alerts-modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px 10px #fefefe;
  width: 500px;
  white-space: pre-line;
}

#soft-alerts-modal .icon {
  width: 200px;
  height: 120px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

#soft-alerts-modal .more {
  color: red;
  font-size: 0.8em;
}

#soft-alerts-modal .dismiss_container {
  margin-top: 30px;
}

#soft-alerts-modal .dismiss {
  background-color: #d85e5c;
  color: #fefffe;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}
